main {
  height: 100%;
}
.container {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 25px 25px;
  top: 250px;
  padding-bottom: 50px;

  @include breakpoint-up(small) {
    margin: 0 50px 25px;
  }
  @include breakpoint-up(medium) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    background-color: $base;
    padding: 25px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 25px;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
    @include breakpoint-up(medium) {
      max-width: 670px;
    }
    img {
      position: absolute;
      top: -28px;
    }
    p {
      color: $darkGray;
      font-size: 14px;
    }
    &#project-card {
      height: 275px;
      justify-content: space-evenly;
      padding: 25px 0;
      @include breakpoint-up(small) {
        padding: 25px 15px;
      }
      h3 {
        width: 250px;
        font-size: 1.35em;
        @include breakpoint-up(x-small) {
          font-size: 1.75rem;
          width: 100%;
        }
        @include breakpoint-up(small) {
          font-size: 2rem;
        }
      }
      p {
        width: 300px;
        @include breakpoint-up(x-small) {
          font-size: 1rem;
          width: 100%;
        }
        @include breakpoint-up(small) {
          font-size: 1.1rem;
        }
      }
    }
    &#numbers {
      padding: 25px 10px;
      height: 350px;
      display: flex;
      justify-content: space-between;
      @include breakpoint-up(small) {
        padding: 30px;
        height: 100%;
      }
      .number-holder {
        @include breakpoint-up(small) {
          display: flex;
          flex-direction: row;
          width: 100%;
          align-items: center;
        }
        .number {
          display: flex;
          flex-direction: column;
          align-items: center;
          height: 85px;
          margin-bottom: 10px;
          // width: 250px;
          @include breakpoint-up(small) {
            flex-direction: row;
            text-align: start;
            margin-right: 45px;
          }
          .data {
            @include breakpoint-up(small) {
              margin-right: 30px;
            }
          }
          &:nth-child(3) {
            height: 75px;
          }
          &:nth-child(2) {
            @include breakpoint-up(small) {
              margin-right: 30px;
            }
            .data {
              @include breakpoint-up(small) {
                margin-right: 75px;
              }
            }
          }
          h2 {
            font-size: 1.75em;
          }
          p {
            font-size: 12px;
            color: $darkGray;
            margin-bottom: 20px;
            @include breakpoint-up(small) {
              margin: 0;
              font-size: 0.875rem;
            }
          }
          .divide {
            height: 1px;
            width: 60px;
            background-color: $darkGray;
            @include breakpoint-up(small) {
              height: 50px;
              width: 1px;
            }
          }
        }
      }
      .bar {
        width: 90%;
        height: 15px;
        background-color: $offWhite;
        border-radius: 50px;
        box-shadow: inset 3px 0 6px rgba(0, 0, 0, 0.2);
        @include breakpoint-up(small) {
          width: 100%;
        }
        .progress {
          background-color: $modCyan;
          height: 100%;
          width: 75%;
          border-radius: 50px;
          box-shadow: inset 3px 0 6px rgba(0, 0, 0, 0.2);
        }
      }
    }
    &#about-card {
      text-align: start;
      align-items: center;
      padding: 35px 25px;
      margin-bottom: 0;
      @include breakpoint-up(small) {
        padding: 35px;
      }

      .info {
        width: 100%;
        h4 {
          margin-bottom: 20px;
          width: 100%;
          @include breakpoint-up(small) {
            font-size: 1.25rem;
          }
        }
        p {
          margin-bottom: 15px;
          width: 100%;
          @include breakpoint-up(small) {
            font-size: 1rem;
          }
        }
      }
      .pledge-card {
        padding: 30px;
        border: 1px solid $cardHighlight;
        border-radius: 10px;
        margin-bottom: 20px;
        width: 100%;
        .pledge-top {
          @include breakpoint-up(small) {
            display: flex;
            justify-content: space-between;
          }
          h4 {
            margin-bottom: 0;
            @include breakpoint-up(small) {
              font-size: 1.25rem;
            }
          }
          .highlight {
            font-size: 14px;
            color: $modCyan;
            font-weight: 500;
            @include breakpoint-up(small) {
              font-size: 1rem;
            }
          }
        }
        p {
          margin: 15px 0;
          width: 100%;
          @include breakpoint-up(small) {
            font-size: 1rem;
          }
        }
        .pledge-bot {
          @include breakpoint-up(small) {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          .left {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            @include breakpoint-up(small) {
              margin: 0;
            }
            h2 {
              font-size: 2em;
            }
            p {
              margin: 0 8px;
            }
          }

          .select-option,
          .out-option {
            padding: 15px 30px;
            margin-right: 15px;
            border: 0px solid transparent;
            border-radius: 50px;
            background-color: $modCyan;
            color: $base;
            font-weight: 500;
            font-size: 15px;
            transition: ease 0.3s;
            @include breakpoint-up(small) {
              margin: 0;
            }
            &:hover {
              background-color: $darkCyan;
            }
          }
          .out-option {
            background-color: $darkGray;
          }
        }
        &#out {
          opacity: 50%;
        }
      }
    }
    .btn-zone {
      display: flex;
      justify-content: center;
      width: 100%;
      @include breakpoint-up(small) {
        justify-content: space-between;
        padding: 0 50px;
      }
      .back-project,
      .bookmark {
        height: 50px;
        border: 0px solid transparent;
        border-radius: 50px;
      }
      .back-project {
        padding: 15px 50px;
        margin-right: 15px;
        background-color: $modCyan;
        color: $base;
        font-weight: 500;
        font-size: 15px;
        &:hover {
          background-color: $darkCyan;
        }
        @include breakpoint-up(small) {
          font-size: 1rem;
        }
      }
      .bookmark {
        display: flex;
        flex-direction: row;
        align-items: center;
        &.booked {
          transition: all ease 0.5s;
          background-blend-mode: screen;
          .mark-icon {
            transition: all ease 0.5s;
            background-color: $darkCyan;
            background-blend-mode: screen;
          }
          .mark {
            color: $darkCyan;
          }
        }
        .mark-icon {
          background-color: $dark;
          border-radius: 50px;
          padding: 25px;
          background-image: url("/images/icon-bookmark.svg");
          background-size: contain;
        }
        .mark {
          display: none;
          @include breakpoint-up(small) {
            display: flex;
            margin: 0 25px 0 15px;
            font-weight: 700;
            font-size: 1rem;
            color: $darkGray;
          }
        }
      }
    }
  }
}
.modal-container {
  display: none;
  &.active {
    display: flex;
    flex-direction: column;
    z-index: 5;
    top: 5rem;
    position: absolute;
    @include breakpoint-up(x-small) {
      right: 0;
      left: 0;
      align-items: center;
      margin: 0 25px;
    }
    @include breakpoint-up(small) {
      margin: 0;
    }
    .modal-select {
      margin: 0 25px;
      background-color: $base;
      border-radius: 10px;
      padding: 25px;
      @include breakpoint-up(small) {
        width: 100%;
        max-width: 30rem;
      }
      @include breakpoint-up(large) {
        max-width: 42rem;
        padding: 40px;
      }
      &.hide {
        display: none;
      }
      .back-bar {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
        align-items: center;
        h3 {
          @include breakpoint-up(large) {
            font-size: 1.5rem;
          }
        }
        .close {
          height: 100%;
          width: 1rem;
          cursor: pointer;
        }
      }
      p {
        color: $darkGray;
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 25px;
        @include breakpoint-up(medium) {
          font-size: 1rem;
          width: 100%;
        }
      }
    }
    .pledge-card {
      border-radius: 10px;
      position: relative;
      input[type="radio"]:before {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: $base;
        content: "";
        display: inline-block;
        visibility: visible;
        border: 2px solid $offWhite;
      }
      input[type="radio"]:checked:after {
        width: 10px;
        height: 10px;
        border-radius: 15px;
        top: -23px;
        left: 3.5px;
        position: relative;
        background-color: #3cb4ac;
        content: "";
        display: inline-block;
        visibility: visible;
        // border: 2px solid white;
      }
      input:checked + .pledge-details {
        border-color: $modCyan;
        .pledge-enter {
          transition: ease 0.5s;
          max-height: 100%;
          opacity: 100%;
          padding: 25px;
          display: flex;
          @include breakpoint-up(large) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
          }
        }
        .amount {
          @include breakpoint-up(large) {
            margin-top: 0;
          }
        }
      }
      &#no-reward {
        .pledge-option {
          top: 30px;
        }
        .amount {
          // margin: 0;
          .continue-btn {
            padding: 10px 40px;
          }
        }
        .pledge-txt {
          margin-top: 0;
        }
      }
    }
    .pledge-option {
      position: absolute;
      left: 30px;
      top: 40px;
    }
    .pledge-details {
      border: 2px solid $offWhite;
      display: flex;
      flex-direction: column;
      margin-bottom: 25px;
      border-radius: 10px;
      transition: ease 0.5s;
      @include breakpoint-up(large) {
        display: grid;
      }
      &#out {
        opacity: 50%;
      }
      p {
        font-size: 15px;
        padding: 0 25px;
        @include breakpoint-up(large) {
          grid-column: span 2;
        }
      }
      .pledge-txt {
        margin-left: 35px;
        @include breakpoint-up(large) {
          display: flex;
          margin-top: 10px;
        }
        h4 {
          @include breakpoint-up(large) {
            margin-right: 10px;
          }
        }
      }
      .left {
        display: flex;
        align-items: center;
        padding: 0 25px 25px;
        @include breakpoint-up(large) {
          grid-row: 1;
          grid-column: 3;
          padding: 25px;
        }
        p {
          margin-bottom: 0;
          margin-left: 8px;
          padding: 0;
        }
      }
      .pledge-enter {
        max-height: 0;
        opacity: 0;
        transition: ease 0.5s;
        border-top: 2px solid $offWhite;
        flex-direction: column;
        justify-content: center;
        @include breakpoint-up(large) {
          grid-row: 4;
          grid-column: span 3;
        }
        .pledge-highlight {
          text-align: center;
          color: $darkGray;
        }
        .amount {
          display: flex;
          justify-content: space-around;
          margin-top: 25px;
          .continue-btn {
            padding: 10px 25px;
            border-radius: 50px;
          }
          .dollar {
            border-radius: 50px;
            padding: 10px 20px;
            &:focus,
            &:focus-visible,
            &:focus-within,
            &:active {
              border-color: $modCyan !important;
            }
          }
          .currency {
            position: relative;
            font-weight: 700;
            @include breakpoint-up(large) {
              margin-right: 10px;
            }
            .sign {
              opacity: 50%;
              position: absolute;
              color: $darkGray;
              left: 15px;
              top: 11px;
              font-size: 14px;
            }
            .dollar {
              font-weight: 500;
              border: 2px solid $offWhite;
              width: 5rem;
              text-align: center;
              outline: transparent;
              @include breakpoint-up(large) {
                text-align: end;
              }
            }
          }
          .continue-btn {
            background: $modCyan;
            border: 2px solid transparent;
            font-weight: 500;
            color: $base;
          }
        }
      }
      .topper,
      .no-pledge {
        padding: 25px;
        display: flex;
        align-items: center;
        @include breakpoint-up(large) {
          grid-column: span 2;
        }
        .highlight {
          color: $modCyan;
        }
        h4 {
          transition: ease 0.3s;
          &:hover {
            color: $modCyan;
          }
        }
      }
    }
  }
}
.modal-success {
  background: $base;
  padding: 25px;
  margin: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  height: 400px;
  position: fixed;
  @include breakpoint-up(small) {
    margin: 0 50px;
  }
  @include breakpoint-up(large) {
    max-width: 35rem;
  }
  h3 {
    @include breakpoint-up(small) {
      font-size: 1.75rem;
    }
  }
  p {
    line-height: 1.5;
    color: $darkGray;
    font-size: 14px;
    @include breakpoint-up(small) {
      font-size: 1rem;
    }
  }

  img {
    width: 5rem;
  }
  .close {
    padding: 10px 25px;
    background-color: $modCyan;
    border-color: transparent;
    font-weight: 700;
    color: $base;
    border-radius: 50px;
    &:hover {
      background-color: $darkCyan;
    }
  }
  &.hide {
    display: none;
  }
}
